<!-- Your footer content here -->
<footer class="footer mt-auto py-1 bg-dark fixed-bottom text-white">
  <div class="container text-center">
    <span class="">&copy; 2024 myPointTable</span>
  </div>
</footer>



<!-- SCRIPTs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"
  integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>